<div class="login-container">
  <div fxLayout="column" fxLayoutAlign="center center">
    <div class="flex-container">
      <button mat-raised-button
              class="btn-google"
              aria-label="Sign in with Google" (click)="loginGoogle()">
        <fa-icon [icon]="['fab', 'google']"></fa-icon> Sign in with Google
      </button>
      <button mat-raised-button
              class="btn-facebook"
              aria-label="Sign in with Facebook" (click)="loginFacebook()">
        <fa-icon [icon]="['fab', 'facebook']"></fa-icon> Sign in with Facebook
      </button>
      <button mat-raised-button
              class="btn-twitter"
              aria-label="Sign in with Twitter" (click)="loginTwitter()">
        <fa-icon [icon]="['fab', 'twitter']"></fa-icon> Sign in with Twitter
      </button>
      <button mat-raised-button
              class="btn-github"
              aria-label="Sign in with Github" (click)="loginGithub()">
        <fa-icon [icon]="['fab', 'github']"></fa-icon> Sign in with Github
      </button>
    </div>
  </div>
</div>
