.login-container{
  height: 100%;
  .flex-container {
    margin-top: 30px;
    max-width: 250px;

    button {
      margin: 7px;
      width: 100%;
      text-align: center;

      &.btn-google {
        background-color: #ffffff;
        color: #727272;
      }

      &.btn-facebook {
        background-color: #3b5998;
        color: #ffffff;
      }

      &.btn-twitter {
        background-color: #55acee;
        color: #ffffff;
      }

      &.btn-github {
        background-color: #333333;
        color: #ffffff;
      }
    }

  }
}
