<div class="login-container">
  <div class="flex-container" fxLayout="column" fxLayoutAlign="space-around center">
    <button mat-raised-button
            aria-label="Sign in with Google" (click)="loginGoogle()">
      <fa-icon [icon]="['fab', 'google']"></fa-icon> Sign in with Google
    </button>
    <button mat-raised-button
            aria-label="Sign in with Google" (click)="loginGoogle()">
      <fa-icon [icon]="['fab', 'google']"></fa-icon> Sign in with Google
    </button>
    <button mat-raised-button
            aria-label="Sign in with Google" (click)="loginGoogle()">
      <fa-icon [icon]="['fab', 'google']"></fa-icon> Sign in with Google
    </button>
    <button mat-raised-button
            aria-label="Sign in with Google" (click)="loginGoogle()">
      <fa-icon [icon]="['fab', 'google']"></fa-icon> Sign in with Google
    </button>s
  </div>
</div>
