.messages-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 100vh;
  overflow: hidden;
}

.message-list-container {
  flex: 1;
  margin: 16px;
  overflow-y: auto;
}

.message-form-container {
  display: flex;
  flex-direction: row;
  flex: none;
  margin: 16px
}

.msg-input {
  width: 100%;
}
